.about_container {
    display: grid;
    place-content: center;
    text-align: center;
    gap: 2em;
    margin-top: 4em;
}

.about_container span {
    color: var(--medium-violet-red);
}

.about_container .left_col {
    display: grid;
    place-content: center;
    gap: 1.3em;
    z-index: 2;
}

.about_container .title {
    font-size: 1.3rem;
    line-height: var(--line-height-md);
}

.about_container p {
    font-size: 1rem;
    font-weight: bold;
}

.about_container button {
    justify-self: center;
    padding: .3em .5em;
    font-family: var(--sub-title);
    font-weight: bold;
    background-color: #ffffff00;
    color: var(--clr-hint-of-red);
    border: 2px solid var(--medium-violet-red);
    cursor: pointer;
}

.about_container .right_col {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.right_col img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    z-index: 2;
}

.wave {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    transform: translateY(50%);
}

@media screen and (min-width: 768px) {
    .about_container {
        grid-template-columns: 1fr 1fr;

        min-height: 90vh;
        padding-inline: 3em;
    }

    .left_col {
        text-align: left;
    }
}